<div class="row">
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-body text-center">
                <h4 class="text-primary">{{ loyer_total|floatformat:2 }} F CFA</h4>
                <p class="card-text">Loyer Total</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-success">
            <div class="card-body text-center">
                <h4 class="text-success">{{ charges_bailleur|floatformat:2 }} F CFA</h4>
                <p class="card-text">Charges Bailleur</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info">
            <div class="card-body text-center">
                <h4 class="text-info">{{ loyer_total|add:charges_bailleur|floatformat:2 }} F CFA</h4>
                <p class="card-text">Loyer Net</p>
            </div>
        </div>
    </div>
</div>
